 html {
    scroll-behavior: smooth;
 }
 
 body {
    background-color: #F7F2DE
 }
 

 header h1 {
    font-family: 'Poppins-Thin', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    
}

header h2 {
    font-family: 'Poppins-Thin', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: .5;
    
}

header div {
    font-family: 'Poppins-Thin', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

main {
    font-family: 'Poppins-Thin', sans-serif;
    font-size: 20px;
    line-height: 1;
    color: #000004;
}


;